# Data Structures 

Built in Data Structures :
        
        1. List 
        2. Tuple
        3. Set 
        4. Dictionary 
        
      
User Define Data Structure :

        1. Stack 
        2. Queue 
        3. Linked List 
        4. Tree 
        5. Graph 
        
        
        
# 1 . List :

     List is the collection of zero or many elements seperated by commase enclosed within the square brakates .
     
     Propertise of List Data Type :
      
             1. list can strore data of different data types 
             2. List are ordered you , can access list elements using indexing 
             3. Two list with different order are not same
             4. You can use negative indexing to print the elements of list 
             5. List can be nested u can have list inside the list 
             6. list are mutable (after creating a list u can modify that )
             7. list are dynamic (when we add elements it will grow and when we remove elements it will shrink )

In [15]:
# Example of List :

# list can strore data of different data types

list1=[1,2,"Data",56.90,789,True]
print(list1)

# List are ordered can access list elements using indexing 

list2=[1,2,3,4,5,6,7,8]
print("Element present at 2nd index is ",list2[2])

# Two list with different order are not same

list3 =[6,7,8,9,0]
list4=[7,6,9,8,0]

print(list3==list4)

# You can use negative indexing to print the elements of list 

list5=["sundar",450,56.89,True,78+56]
print("You can use negative indexing to print the elements of list ",list5[-1])
print("You can use negative indexing to print the elements of list ",list5[-2])
print("You can use negative indexing to print the elements of list ",list5[-3])

# List can be nested u can have list inside the list 

list6=[23,[56,78,34],90,100,674]
print(type(list6))
print(list6[1])
print(list6[2])


# list are mutable (after creating a list u can modify that )

list7=[6,7,8,9,3,2]
list7.append(564)
print(list7)
# list7.pop(enter index)
list7.pop(2)
print(list7)

[1, 2, 'Data', 56.9, 789, True]
Element present at 2nd index is  3
False
You can use negative indexing to print the elements of list  134
You can use negative indexing to print the elements of list  True
You can use negative indexing to print the elements of list  56.89
<class 'list'>
[56, 78, 34]
90
[6, 7, 8, 9, 3, 2, 564]
[6, 7, 9, 3, 2, 564]

# 2. Tuples :

    Tuples are stores the collections of different types of data , tuples are comma seperated elements enclosed within the paranthesys . (also the value seperated by commase is tuple)
    
    Propertise of Tuple Data Type :
            
            1. the value seperated by commase is tuple
            2. tuple can strore data of different data types 
            3.

In [18]:
# Examples of tuple 

# 1. the value seperated by commase is tuple

tup1=(1,2,"saam",34.90,True)
print(tup1)

tup2=1,2,"krishna",67.90
print(tup2)
print("Type of tuple 2 is ",type(tup2))

(1, 2, 'saam', 34.9, True)
(1, 2, 'krishna', 67.9)
Type of tuple 2 is  <class 'tuple'>